<header id="home_slider" class="carousel slide">
<!-- Wrapper for Slides -->
<div class="carousel-inner">
<div class="landing-back">
  

  <div class="item active ">
    <!-- Set the first background image using inline CSS below. -->
    <div class="fill" style="background-image:url('images/slider_1.jpg');">
    </div>
    <div class="fill_mask">
      <div class="description ">
        <h2 class="details wow fadeInDown">
        Your weekend curated in one click </h2>
        
        <div class="buttons ">
          <!-- <span class="details wow fadeInLeft unlock-button">Unlock your city</span><br> -->
          <a class="wow fadeInLeft btn eventime_button" href="/users/sign_up" role="button">
         New York </a> 
        </div>
      </div>
    </div>
  </div>
</div>
    
    
