<html lang="en-us">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<title>
How it works </title>
<link rel='shortcut icon' type='image/x-icon' href='/favicon.ico'/>
<!-- Bootstrap Core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<!-- Google Font Raleway -->
<link href='http://fonts.googleapis.com/css?family=Raleway:400,100,700,300' rel='stylesheet' type='text/css'>
<!-- Font Awsome Icons CSS -->
<link href="css/font-awesome.min.css" rel="stylesheet">
<!-- Custom CSS -->
<link href="css/custom.css" rel="stylesheet">
<!-- Colors and Backgrounds CSS -->
<link href="css/colors_4.css" rel="stylesheet">
</head>
<body>

<!-- Fixed navbar -->
<nav class="navbar nav_mask_full">
<div class="navi_container">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
    <span class="sr-only">
    Toggle navigation </span>
    <span class="icon-bar">
    </span>
    <span class="icon-bar">
    </span>
    <span class="icon-bar">
    </span>
    </button>
    <a class="navbar-brand" href="multi-index.html">
    weeqend </a>
  </div>
  <div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
      <li>
        <a href="/users/sign_in">
      Login </a>
      </li>
      <li>
      <a href="/schedule">
      Schedule </a>
      </li>
      <li>
      <a href="/users/sign_up">
      Sign Up </a>
      </li>
      <li>
      <a class="active" href="multi-about.html">
      How it works </a>
      </li>
      <li>
        <% if current_user %>
          <%=link_to('Log Out', destroy_user_session_path, method:'delete')%>
        <% end %>
      </li>
    </ul>
  </div>
  <!--/.nav-collapse -->
</div>
<!--/.nav-collapse -->
</nav>
<div class="antigap">
</div>
<!-- Page Content -->
<div class="firstrow">
  <div class="centred">
    <div class="first_line wow fadeInDown">
    </div>
    <div class="first_title wow fadeInDown">
      <p>
         Design Days Conference
      </p>
    </div>
    <div class="first_description wow fadeInDown">
      <p>
         Organization of a Design Days Conference series is a result of the continued policy and continuous learning process, connecting researchers and practitioners attempting to understand better the problems they are trying to address. The objectives of the Design Days Conferences tend to be integrative across the various disciplines, to reach the current state-of-the-art, to cover the multidisciplinary aspects of design and to assure high level review policy.
      </p>
    </div>
  </div>
  <div class="wow fadeIn first_image">
  </div>
</div>
<div class="clear">
</div>
<div class="wow fadeIn tabs_about">
  <div class="mask">
    <ul class="menu_tabs" role="tablist">
      <li class="active">
      <a class="wow fadeInDown btn eventime_button graybtn active" data-toggle="tab" role="button" href="#sectionA">
      Statistics </a>
      </li>
      <li>
      <a class="wow fadeInDown btn eventime_button graybtn" data-toggle="tab" role="button" href="#sectionB">
      Themes </a>
      </li>
      <li>
      <a class="wow fadeInDown btn eventime_button graybtn" data-toggle="tab" role="button" href="#sectionC">
      Concerns </a>
      </li>
    </ul>
    <div class="tab-content">
      <div id="sectionA" class="tab-pane fade in active">
        <ul class="stats">
          <li class="fa fa-bullhorn fa-6x">
          <p>
            <span class="count">
            25 </span>
            <span class="count_plus">
            + </span>
          </p>
          <p class="count_dscrp">
             speakers
          </p>
          </li>
          <li class="fa fa-diamond fa-6x">
          <p>
            <span class="count">
            10 </span>
            <span class="count_plus">
            + </span>
          </p>
          <p class="count_dscrp">
             grand halls
          </p>
          </li>
          <li class="fa fa-comment-o fa-6x">
          <p>
            <span class="count">
            55 </span>
            <span class="count_plus">
            + </span>
          </p>
          <p class="count_dscrp">
             workshops
          </p>
          </li>
          <li class="fa fa-cube fa-6x">
          <p>
            <span class="count">
            90 </span>
            <span class="count_plus">
            + </span>
          </p>
          <p class="count_dscrp">
             exhibitions
          </p>
          </li>
        </ul>
      </div>
      <div id="sectionB" class="tab-pane fade">
        <ul class="about_columns">
          <li class="list right">
          <h4>
          Design Education </h4>
          <div class="fa fa-star fa-1x">
          </div>
          <ol>
            <li>Design thinking: cognitive modes and learning styles</li>
            <li>Design approaches, strategies, methodologies and tactics</li>
            <li>Problem solving: recognition procedures, hypothesis developmen</li>
            <li>The meaning of innovation and creativity, in theory and practice</li>
          </ol>
          </li>
          <li class="list">
          <div class="fa fa-briefcase fa-1x">
          </div>
          <h4>
          Design in Society </h4>
          <ol>
            <li>Design in social policy, planning, and politics</li>
            <li>Health, safety, and public welfare in design practice</li>
            <li>Design as business</li>
            <li>Markets for design and designing for markets</li>
          </ol>
          </li>
          <li class="list right">
          <h4>
          Designed Objects </h4>
          <div class="fa fa-camera fa-1x">
          </div>
          <ol>
            <li>Fashion design and development</li>
            <li>Product design philosophy</li>
            <li>Industrial and Interior design</li>
            <li>Engineering and design</li>
          </ol>
          </li>
          <li class="list">
          <div class="fa fa-graduation-cap fa-1x">
          </div>
          <h4>
          Visual Design </h4>
          <ol>
            <li>Communications design</li>
            <li>Visual arts</li>
            <li>Typography</li>
            <li>Graphic design</li>
          </ol>
          </li>
          <li class="list right">
          <h4>
          Design Management </h4>
          <div class="fa fa-key fa-1x">
          </div>
          <ol>
            <li>People and artifacts: exploring uses and usability</li>
            <li>Participatory design systems</li>
            <li>Professional ethics</li>
            <li>Design knowledge management</li>
          </ol>
          </li>
          <li class="list ">
          <div class="fa fa-line-chart fa-1x">
          </div>
          <h4>
          Environmental Design </h4>
          <ol>
            <li>Eco design: environmental and green design</li>
            <li>Theater and set design</li>
            <li>Interaction design</li>
            <li>Landscape architecture</li>
          </ol>
          </li>
        </ul>
      </div>
      <div id="sectionC" class="tab-pane fade">
        <ul class="about_columns">
          <li class="list right">
          <h4>
          Design Practices </h4>
          <ol>
            <li>The business of design is in a state of flux. The roles, the tasks and the personae of designers are changing. <br>
            <br>
             No longer the technical expert, the heroic aesthete or the inspired individual of our earlier modern past, the contemporary designer draws upon dispersed sources of creativity and innovation. Collaboration, today, is key. For design practitioners, a central paradox of our times is the increasing specialization, on the one hand, but on the other, the need for more broad-ranging and holistic integration of design tasks, working between and across design disciplines. Design is becoming an ever-more social, indeed sociable, process.<br>
            <br>
             The imperative to collaborate, moreover, extends well beyond the domain of professional interaction and working in design teams. It also extends to the relationship with the users, clients and consumers of design. Designers today need to build deeply collaborative relationships with their ‘public’. Participatory design and user-centered design are just two key phrases that capture the spirit of this imperative. </li>
          </ol>
          </li>
          <li class="list">
          <h4>
          Design Modalities </h4>
          <ol>
            <li>
            Design’s modalities are also in a state of flux, its working tools of representation, communication, visualization and imagination. Digitization of text, sound, and still and moving image is one important site of transition. This has spawned new practices of modeling and simulation, of prefiguring the real in the virtual. It has also introduced the virtual as a design end-in-itself.<br>
            <br>
             Designers need to able to ‘do’ a multimodal professional design discourse. They must speak and write their way through complex collaborations with co-designers and interactions with users. They need to be able to ‘do’ visualization as they explore design alternatives through mental images and picture their visions into reality. They need to be able to represent spatial realities, prefiguring the three dimensional through the two dimensional and turning plans into tactile artifacts, manipulable objects, architectural spaces and navigable landscapes. The new, digital media provide newly flexible and accessible tools for multimodal and synaesthetic thinking. Today’s media inventions have become the mothers of design necessity.</li>
          </ol>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- End About -->
<div class="gap">
</div>
<div class="title_center">
  <p class="wow fadeInDown">
     Eventime
  </p>
</div>
<div class="center_line">
</div>
<div class="first_description">
  <p class=" wow fadeInDown">
     The conference is built upon four key features: Internationalism, Interdisciplinarity, Inclusiveness, and interaction. Conference delegates include leaders in the field, as well as emerging artists and scholars, who travel to the conference from all corners of the globe and represent a broad range of disciplines and perspectives. A variety of presentation options and session types offer delegates multiple opportunities to engage, to discuss key issues in the field, and to build relationships with scholars from other cultures and disciplines.
  </p>
  <p class=" wow fadeInDown">
     This community is brought together by a shared interest in the process of design and their conceptual foundations. The community interacts digitally through social media, as well as through an annual face-to-face conference, a peer-reviewed journal collection, and book series. Members include academics, designers, administrators, educators, consultants and research students.
  </p>
  <p class=" wow fadeInDown">
     Design Days Conference is an international multidisciplinary conference focused on design and design thinking, held in NY. The first edition of the conference was completely sold out and has proudly hosted designers. More about the first Design Days Conference can be found here. We bring together the world's most successful designers to share their personal experience and pragmatic insights on how put theory into action. We help to educate people how good design is born and what is its power. Thanks to the real case studies, By Design offers the unique opportunity to explore the process and ideas, that really work.
  </p>
</div>
<div class="mini_gap">
</div>
<footer>
    <div class="footer">
      <a class="link" href="#">Sitemap</a>
      <span class="link">|</span>
      <a class="link" href="#">Application</a>
      <span class="link">|</span>
      <a class="link" href="#">Get in touch</a>
      <span class="link">|</span>
      <a class="link" href="#">Buy me now</a>
      <div class="mini_gap">
      </div>
      <a href="#" class="contact_icon fa fa-facebook">
      </a>
      <a href="#" class="contact_icon fa fa-twitter">
      </a>
      <a href="#" class="contact_icon fa fa-google-plus">
      </a>
      <a href="#" class="contact_icon fa fa-pinterest-p">
      </a>
      <a href="#" class="contact_icon fa fa-sellsy">
      </a>
      <p class="copyright"><span>&copy;</span>Copyright Eventime <span>2015</span></p>
    </div>
</footer>
<!-- Scripts -->
<script type="text/javascript" src="js/jquery-2.1.3.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/minify.js"></script>
</body>
</html>