before_action :authenticate_user!

<div class="user-back">
<!-- Fixed navbar -->


<div class="gap">
</div>
<br>
<div class="content-all">
<div class=" wow fadeInLeft btn eventime_button graybtn graytxt">
 <%=link_to('your schedule', myschedule_path)%>
    </div>
<div class= "users-home-text">
<!-- You are</div>
<% current_user.tags.each do |tag| %>
<div class="users-home-tags"><%= tag.name %></div>
<%end%> -->

</div>
</div>

