.back{
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;

}
.back img{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}
/*
@media screen and (max-width: 1024px) {  Specific to this particular image 
  .back {
    left: 50%;
    margin-left: -512px;   /* 50% */
/*  }
}*/

#users-home-text{
    font-size: 38px;
    color: #fff !important;
}

#users-home-tags{
    font-size: 38px;
    color: #00ffff !important;
}

.your-large-wrapper  {
  background: url(leaves.jpg) top right no-repeat;
  background-attachment:fixed;
  background-size: 100%;
}